
<div class="col-xs-10 col-xs-offset-1">
  <h1>About Blurty</h1>

<p>
	Blurty was built by Brian.  Following pretty explicit code provided by The Firehose Project.  Although each step was not perfect, it turned out pretty quack-tastic.

	Coding is a lot like golf.  Some days you end up at the 18th hole and buy a round for you and your friends, other days you murder your friends and take a dump on the tee box...  Hopefully these quotes will keep you motivated in all your endeavors, coding or otherwise.

</p>


<div class= "col-xs-12 col-sm-4">
<%= image_tag 'duck.jpg', class: 'img-responsive' %>
</div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Brian</h2>
    <br />

    <p>

         My name is Brian, and this is a duck.  I tried to find a blue duck to take a picture of, but this is all I could find at Falls Park.  I guess I should have drawn a blue duck.  And remember, if the Universe is Infinite, and there are parallel worlds, somewhere out there we are all blue ducks...
     
    </p>
    </div>
   
</div>

<br class="clear" />
<br />
<br />
<br />
<br />