<h2>
	<span>BLURTY / no. <%= @quote.id %></span>
	Here's the <u>best motivational quotes</u> you can eat!

<h1><%= @quote.saying %></h1>
<h2 class= 'pull-right'>- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />